<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lapo.pengaduan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lapo.pengaduan.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logoo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lapo.pengaduan.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lapo.pengaduan.MainActivity_login" />
        <activity android:name="com.lapo.pengaduan.MainActivity" />
        <activity android:name="com.lapo.pengaduan.Register" />
        <activity android:name="com.lapo.pengaduan.home_layout_java" />
        <activity android:name="com.lapo.pengaduan.MainActivity_tambah_sambat" />
        <activity android:name="com.lapo.pengaduan.MainActivity_upload_gambar_lapor" />

    </application>

</manifest>